name: Hotfix

on:
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      output1: ${{ steps.step2.outputs.test1 }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: step1
        run: echo "test=hello"
      - id: step2
        env:
          ENVIRONMENT: CERT
          REGION: WEU1
          NAME_TOKEN: $(yq eval '.environments[] | select(.name == "'$ENVIRONMENT'") | .regions[] | select(.name == "'$REGION'").properties.credentialsId' deployment.yaml)
        run: |
          echo ${{ env.NAME_TOKEN }}
          prueba=$(echo ${{ env.NAME_TOKEN }})
          echo ${{ secrets[prueba] }}
          echo "test1=hola" >> "$GITHUB_OUTPUT"
          echo "test=$(id)" >> "$GITHUB_OUTPUT"
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - env:
          OUTPUT1: ${{needs.job1.outputs.output1}}
          OUTPUT2: ${{needs.job1.outputs.output2}}
        run: echo "$OUTPUT1 $OUTPUT2"
