name: Hotfix

on:
  push:
    branches:
      - main

jobs:
  job1:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - id: step1
        env:
          ENVIRONMENT: CERT
          REGION: WEU1
        run: |
          export tokenName=$(yq eval '.environments[] | select(.name == "'$ENVIRONMENT'") | .regions[] | select(.name == "'$REGION'").properties.credentialsId' deployment.yaml)
          echo $tokenName
          echo "token=$tokenName" >> "$GITHUB_ENV"
          echo "hola=Miguel" >> "$GITHUB_ENV"
          echo "test1=hola" >> "$GITHUB_OUTPUT"
          echo "test=$(id)" >> "$GITHUB_OUTPUT"
      - id: step2
        run: |
          echo "${{ secrets[env.token] }}" | sed 's/./& /g'
          echo "${{ env.hola }}"
